@import url(../src/assets/font-montserrat/font-montserrat.css);

@tailwind base;
@tailwind components;
@tailwind utilities;
    

.formgear-sidebar li ul{
    display: none;
}
.formgear-sidebar .show{
    display: block;
}



.formgear-select .solid-select-container {
    position: relative;
}
.formgear-select .solid-select-control {    
    --tw-border-opacity: 1;
    border-color: rgb(209, 213, 219, var(--tw-border-opacity));
    border-radius: 0.25rem;
    border-width: 1px;
    display: -ms-grid;
    display: grid;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    z-index: 0 !important;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
.formgear-select .solid-select-control[data-multiple="true"][data-has-value="true"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    grid-gap: 0.25rem;
    gap: 0.25rem;
}
.formgear-select .solid-select-control:focus-within {
    border-color: #2563eb;
    border-width: 2px;
    outline-color: #2563eb;
    outline: transparent;
    outline-offset: none;
}
.formgear-select .solid-select-placeholder {
    --tw-text-opacity: 1;
    color: rgba(156, 163, 175, var(--tw-text-opacity));
    grid-column-start: 1;
    grid-row-start: 1;
}
.formgear-select .solid-select-single-value {
    grid-column-start: 1;
    grid-row-start: 1;
}
.formgear-select .solid-select-multi-value {
    --tw-bg-opacity: 1;
    background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
    border-radius: 0.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 85%;
    line-height: 1;
    line-height: inherit;
    padding-left: 4px;
    z-index: 0 !important;
    padding-right: 4px;
}
.formgear-select .solid-select-multi-value-remove {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.formgear-select .solid-select-multi-value-remove:hover {
    text-shadow: 1px 1px 3px rgb(0 0 0 / 29%), 2px 4px 7px rgb(73 64 125 / 35%);
}
.formgear-select .solid-select-input {
    background-color: transparent;
    border-width: 0px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    margin: 0px;
    outline-offset: 0px;
    padding: 0px;
    grid-column-start: 1;
    grid-row-start: 1;
    font: inherit;
}
.formgear-select .solid-select-input:focus-within {
    outline-color: white;
    border-color: #ffffff;
    border-width: 0px;
}
.formgear-select .solid-select-input:read-only {
    cursor: default;
}
.formgear-select .solid-select-list {
    background-color: inherit;
    border-radius: 0.125rem;
    margin-top: 0.25rem;
    min-width: 100%;
    padding: 0.5rem;
    position: absolute;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0/0.1),0 4px 6px -4px rgb(0 0 0/0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),0 4px 6px -4px var(--tw-shadow-color);
    -webkit-box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
    white-space: nowrap;
    z-index: 1 !important;
}
.formgear-select .solid-select-option:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
}
.formgear-select .solid-select-option[data-focused="true"] {
    --tw-bg-opacity: 1;
    /* background-color: rgba(243, 244, 246, var(--tw-bg-opacity)); */
}
.formgear-select .solid-select-option {
    cursor: pointer !important;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.formgear-select .blur {
    --tw-blur: blur(8px);
}

.formgear-select  .solid-select-control[data-disabled=true]{
    background-color: #e5e7eb;
    color: #374151;
}

.dark .formgear-select  .solid-select-control[data-disabled=true]{
    background-color: #374151;
    color: #9ca3af;
}





.formgear-select-unit .solid-select-container {
    position: relative;
}
.formgear-select-unit .solid-select-control {    
    --tw-border-opacity: 0;
    border-color: rgb(209, 213, 219, var(--tw-border-opacity));
    border-radius: 0.25rem;
    border-width: 1px;
    display: -ms-grid;
    display: grid;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    z-index: 0 !important;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
.formgear-select-unit .solid-select-control[data-multiple="true"][data-has-value="true"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    grid-gap: 0.25rem;
    gap: 0.25rem;
}
.formgear-select-unit .solid-select-control:focus-within {
    border-color: transparent;
    border-width: 0;
    outline-color: transparent;
    outline: transparent;
    outline-offset: none;
}
.formgear-select-unit .solid-select-placeholder {
    --tw-text-opacity: 1;
    color: rgba(156, 163, 175, var(--tw-text-opacity));
    grid-column-start: 1;
    grid-row-start: 1;
}
.formgear-select-unit .solid-select-single-value {
    grid-column-start: 1;
    grid-row-start: 1;
}
.formgear-select-unit .solid-select-multi-value {
    --tw-bg-opacity: 1;
    background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
    border-radius: 0.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 85%;
    line-height: 1;
    line-height: inherit;
    padding-left: 4px;
    z-index: 0 !important;
    padding-right: 4px;
}
.formgear-select-unit .solid-select-multi-value-remove {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.formgear-select-unit .solid-select-multi-value-remove:hover {
    text-shadow: 1px 1px 3px rgb(0 0 0 / 29%), 2px 4px 7px rgb(73 64 125 / 35%);
}
.formgear-select-unit .solid-select-input {
    background-color: transparent;
    border-width: 0px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    margin: 0px;
    outline-offset: 0px;
    padding: 0px;
    grid-column-start: 1;
    grid-row-start: 1;
    font: inherit;
}
.formgear-select-unit .solid-select-input:focus-within {
    outline-color: white;
    border-color: #ffffff;
    border-width: 0px;
}
.formgear-select-unit .solid-select-input:read-only {
    cursor: default;
}
.formgear-select-unit .solid-select-list {
    background-color: inherit;
    border-radius: 0.125rem;
    margin-top: 0.25rem;
    min-width: 100%;
    padding: 0.5rem;
    position: absolute;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0/0.1),0 4px 6px -4px rgb(0 0 0/0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),0 4px 6px -4px var(--tw-shadow-color);
    -webkit-box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
    white-space: nowrap;
    z-index: 1 !important;
}
.formgear-select-unit .solid-select-option:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
}
.formgear-select-unit .solid-select-option[data-focused="true"] {
    --tw-bg-opacity: 1;
    /* background-color: rgba(243, 244, 246, var(--tw-bg-opacity)); */
}
.formgear-select-unit .solid-select-option {
    cursor: pointer !important;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.formgear-select-unit .blur {
    --tw-blur: blur(8px);
}

.formgear-select-unit  .solid-select-control[data-disabled=true]{
    background-color: #e5e7eb;
    color: #374151;
}

.formgear-input-papi {
    @apply w-full rounded font-medium px-4 py-2.5 text-sm text-gray-700 bg-white bg-clip-padding transition ease-in-out m-0 focus:text-gray-700 focus:bg-amber-200 focus:border-blue-600 focus:outline-none disabled:bg-gray-200 dark:disabled:bg-gray-700 dark:disabled:text-gray-400; 
}

.formgear-input-papi-validation-0 {
    @apply border border-solid border-gray-300;
}

.formgear-input-papi-validation-1 {
    @apply border border-orange-500 dark:bg-orange-100;
}

.formgear-input-papi-validation-2 {
    @apply border border-pink-600 dark:bg-pink-100;
}

.formgear-input-papi.hide-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.formgear-input-papi.hide-spinner {
    -moz-appearance: textfield;
}

.formgear-sticky {
    position: fixed;
    z-index: 999;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

.formgear-invisible-input {
    @apply opacity-0 w-0 h-0;
}


.formgear-progress-bar {
    position: relative;
    overflow: hidden;
}

.formgear-progress-bar::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg,
            rgba(233, 233, 233, 1) 0,
            rgba(233, 233, 233, 0.9) 50%,
            rgba(233, 233, 233, 0.8) 100%);
    animation: shimmer .6s ease-out infinite;
    content: "";
}

@keyframes shimmer {
    100% {
      transform: translateX(0%);
      opacity: 0;
    }
  }
  